attr==0.3.2
colorama==0.4.6
ConfigParser==7.0.0
cryptography==42.0.8
docutils==0.21.2
filelock==3.15.4
gTTS==2.5.1
HTMLParser==0.0.2
importlib_metadata==8.0.0
ipython==8.12.3
ipywidgets==8.1.3
Jinja2==3.1.4
pyjnius==1.6.1
keyring==25.2.1
moviepy==1.0.3
pandas>=1.4,<2.0
tts==0.22.0
Pillow==10.3.0
praw==7.7.1
protobuf==5.27.2
pydub==0.25.1
pyOpenSSL==24.1.0
python-dotenv==1.0.1
redis==5.0.6
selenium==4.22.0
Sphinx==7.3.7
thread==2.0.3
tornado==6.4.1
tqdm==4.66.4
TTS==0.22.0
urllib3_secure_extra==0.1.0
webdriver_manager==4.0.1
