<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Comment Section</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="comment-section">
    <div class="comment">
        <div class="comment-content">
            <div class="comment-text" id="comment">
                <canvas id="textCanvas"></canvas>
            </div>
        </div>
    </div>
</div>
<div>
    <button id="startButton">Start Animation</button>
</div>
<script>
    window.comment = {{ comment }}
    window.author = "{{ author }}"
    window.votes = "{{ votes }}"
</script>
<div id="videoContainer"></div>
<script src="utils.js"></script>
<script src="drawUtils.js"></script>
<script src="drawComment.js"></script>
<script src="animation.js"></script>
<script src="recording.js"></script>
<script src="main.js"></script>
</body>
</html>
